.button {
    border: none;
    background-color: transparent;
    color: var(--dark-grey);
    font-size: 0.5625rem;
    letter-spacing: 0.12rem;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    color: var(--black);
}

@media (min-width: 700px) {
    .button {
        font-size: 0.75rem;
        letter-spacing: 0.16rem;
    }
}